In [1]:
import pandas as pd

In [4]:
df=pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,8,7,6],[5,4,3,2],[12,34,45,20]],columns=['A','B','C','D'])

In [5]:
df.head()

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9   8   7   6
3   5   4   3   2
4  12  34  45  20

In [6]:
df.to_csv('export.csv',index=False)#index remove select perticular data